

<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>PROMEDIO DEPOSITOS EN ESATDOS DE CUENTA</strong> <small></small>
      </c-card-header>
      <c-card-body>
        <table [cBorder]="1" borderColor="secondary" bordered cTable>
          <thead>
            <tr>
              <th scope="col">ANIO</th>
              <th scope="col">MES</th>
              <th scope="col">BANCO</th>
              <th scope="col">DEPOSITOS</th>
              <th scope="col">RETIROS</th>
              <th scope="col">SALDO PROMEDIO</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2024</td>
              <td>AGOSTO</td>
              <td>BANCO BBVA</td>
              <td>$2,674,365.30</td>
              <td>$2,646,336.35</td>
              <td>$720,947.20</td>
            </tr>
            <tr>
              <td>2024</td>
              <td>AGOSTO</td>
              <td>BANCO BBVA</td>
              <td>$2,674,365.30</td>
              <td>$2,646,336.35</td>
              <td>$720,947.20</td>
            </tr>
            <tr>
              <td>2024</td>
              <td>AGOSTO</td>
              <td>BANCO BBVA</td>
              <td>$2,674,365.30</td>
              <td>$2,646,336.35</td>
              <td>$720,947.20</td>
            </tr>
          </tbody>
        </table>
        <br/>
        <br/>
        <table [cBorder]="1" borderColor="secondary" bordered cTable>
          <thead>
            <tr>
              <th scope="col">INDICADOR</th>
              <th scope="col">BANCO</th>
              <th scope="col">DEPOSITOS</th>
              <th scope="col">RETIROS</th>
              <th scope="col">SALDO PROMEDIO</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>PROMEDIO</td>
              <td>BANCO BBVA</td>
              <td>$2,674,365.30</td>
              <td>$2,646,336.35</td>
              <td>$720,947.20</td>
            </tr>
            <tr>
              <td>SUMA TOTAL DEPOSITOS</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>SUMA SALDOS PROMEDIOS</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
