

<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>EEFF</strong> <small>INFORMACION FINANCIERA (Cifras en Pesos)</small>
      </c-card-header>
      <c-card-body>
        <table [cBorder]="1" borderColor="secondary" bordered cTable>
          <thead>
            <tr>
              <th scope="col">INDICADORES FINANCIEROS</th>
              <th scope="col" colspan="2">31-dic-2022</th>
              <th scope="col">% Integrales</th>
              <th scope="col" colspan="2">31-dic-2022</th>
              <th scope="col">% Integrales</th>
              <th scope="col" colspan="2">31-dic-2022</th>
              <th scope="col">VENTAS ANUALIZADAS</th>
              <th scope="col">% Integrales</th>
              <th scope="col">Tendencia 2023</th>
              <th scope="col">Tendencia 2024</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ventas netas</td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Costo de ventas</td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Utilidad bruta</td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Gastos de venta y admon</td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Utilidad de operacion</td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Costos financieros</td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Utilidad neta</td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>ACTIVOS CIRCULANTES</td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>ACTIVOS FIJOS</td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>ACTIVO DIFERIDO</td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>ACTIVO TOTAL</td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>PASIVOS CIRCULANTES</td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>PASIVOS FIJOS</td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>PASIVO TOTAL</td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>CAPITAL CONTABLE</td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>PASIVO + CAPITAL CONTABLE</td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>UTILIDAD O PERDIDA DEL EJERCICIO</td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>CLIENTES O CXC</td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>INVENTARIOS</td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>PROVEEDORES</td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td>LIQUIDEZ</td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>PRUEBA DEL ACIDO</td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>RENTABILIDAD SOBRE ACTRIVOS ROA</td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>RENTABILIDAD SOBRE ROE</td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>ENDEUDAMIENTO</td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>APALANCAMIENTO</td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>DIAS CLIENTES O CXC</td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>DIAS INVENTARIO</td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>DIAS PROVEEDORES</td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>CICLO FINANCIERO</td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>



          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>





<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>PRINCIPALES CINCO CLIENTES</strong> <small></small>
      </c-card-header>
      <c-card-body>
        <table [cBorder]="1" borderColor="secondary" bordered cTable>
          <!-- <thead>
            <tr>
              <th scope="col">INDICADORES FINANCIEROS</th>
              <th scope="col" colspan="2">31-dic-2022</th>
              <th scope="col">% Integrales</th>
              <th scope="col" colspan="2">31-dic-2022</th>
              <th scope="col">% Integrales</th>
              <th scope="col" colspan="2">31-dic-2022</th>
              <th scope="col">VENTAS ANUALIZADAS</th>
              <th scope="col">% Integrales</th>
              <th scope="col">Tendencia 2023</th>
              <th scope="col">Tendencia 2024</th>
            </tr>
          </thead> -->
          <tbody>
            <tr>
              <td>WE ARE GUILY</td>
              <td>$1,377,929.20</td>
            </tr>
            <tr>
              <td>WE ARE GUILY</td>
              <td>$1,377,929.20</td>
            </tr>
            <tr>
              <td>WE ARE GUILY</td>
              <td>$1,377,929.20</td>
            </tr>
            <tr>
              <td>WE ARE GUILY</td>
              <td>$1,377,929.20</td>
            </tr>
            <tr>
              <td>TOTAL</td>
              <td>$1,377,929.20</td>
            </tr>
            <tr>
              <td>CONCENTRACION CLIENTES</td>
              <td>97%</td>
            </tr>


          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>



