




<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>DICTAMEN DE CREDITO</strong> <small></small>
      </c-card-header>
      <c-card-body>
        <table [cBorder]="1" borderColor="secondary" bordered cTable>
          <thead>
          <!-- <tr>
            <th scope="col">Ponderacion</th>
            <th scope="col">Variable</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Opciones</th>
            <th scope="col">Valores</th>
          </tr> -->
          </thead>
          <tbody>
            <tr>
              <th colspan="3">ACREDITADO:</th>
              <th colspan="8">LACTEOS SUPREMOS RIDE SA DE CV</th>
            </tr>
            <tr>
              <th colspan="3">EJECUTIVO:</th>
              <th colspan="8">SUCURSAL</th>
            </tr>
            <tr>
              <th colspan="3">SUCURSAL:</th>
              <th colspan="8">CHIHUAHUA</th>
            </tr>
            <tr cTableColor="primary">
              <th colspan="11" class="text-center mb-4">.</th>
            </tr>
            <tr>
              <th colspan="11">I. ANTECEDENTES EMPRESARIALES:</th>
            </tr>
            <tr>
              <td colspan="11">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
              </td>
            </tr>
            <tr>
              <th colspan="11">II. ASPECTOS DEL MERCADO (EN SU CASO):</th>
            </tr>
            <tr>
              <td colspan="11">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
              </td>
            </tr>
            <tr>
              <th colspan="11">III. REFERENCIAS:</th>
            </tr>
            <tr>
              <td colspan="11">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
              </td>
            </tr>
            <tr>
              <th colspan="11">IV. EXPERIENCIA CREDITICIA EN BURO DE CREDITO (Cifras en Miles de Pesos)</th>
            </tr>
            <tr>
              <td colspan="11">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
              </td>
            </tr>
            <tr>
              <th colspan="11">V. ANALISIS FINANCIERO</th>
            </tr>
            <tr>
              <td colspan="11">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
              </td>
            </tr>
            <tr>
              <th colspan="11">IX. DEBILIDADES Y FORTALEZAS (DEL CREDITO)</th>
            </tr>
            <tr>
              <td colspan="6">DEBILIDADES</td>
              <td colspan="5">FORTALEZAS</td>
            </tr>
            <tr>
              <td colspan="6">ASDF</td>
              <td colspan="5">FORTALEASDFZAS</td>
            </tr>
            <tr>
              <td colspan="6">ASDF</td>
              <td colspan="5">FORTALEASDFZAS</td>
            </tr>
            <tr>
              <td colspan="6">ASDF</td>
              <td colspan="5">FORTALEASDFZAS</td>
            </tr>
            <tr>
              <td colspan="6">ASDF</td>
              <td colspan="5">FORTALEASDFZAS</td>
            </tr>
            <tr>
              <td colspan="6">ASDF</td>
              <td colspan="5">FORTALEASDFZAS</td>
            </tr>
            <tr>
              <td colspan="6">ASDF</td>
              <td colspan="5">FORTALEASDFZAS</td>
            </tr>
            <tr>
              <td colspan="6">ASDF</td>
              <td colspan="5">FORTALEASDFZAS</td>
            </tr>
            <tr>
              <td colspan="6">ASDF</td>
              <td colspan="5">FORTALEASDFZAS</td>
            </tr>
            <tr>
              <td colspan="6">ASDF</td>
              <td colspan="5">FORTALEASDFZAS</td>
            </tr>
            <tr>
              <th colspan="11">X. CONCLUSIONES Y RECOMENDACIONES DEL AREA DE CREDITO</th>
            </tr>
            <tr>
              <td colspan="11">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
              </td>
            </tr>
            <tr>
              <th colspan="11" class="text-center mb-4">Vo.Bo. DEL AREA DE CREDITO:</th>
            </tr>
            <tr>
              <td colspan="11">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
              </td>
            </tr>


          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>


