<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="text-center mb-4">
      <c-card-header>
        <h3>PAQUETE DE AUTORIZACION DE CREDITO</h3> <small>PAC Empresarial</small>
      </c-card-header>
    </c-card>
  </c-col>
</c-row>

<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>I. CARATULA DE AUTORIZACION</strong> <small></small>
      </c-card-header>
      <c-card-body>
        <table [cBorder]="1" borderColor="secondary" bordered cTable>
          <thead>
          <!-- <tr>
            <th scope="col">Ponderacion</th>
            <th scope="col">Variable</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Opciones</th>
            <th scope="col">Valores</th>
          </tr> -->
          </thead>
          <tbody>
            <tr>
              <th>SUCURSAL</th>
              <th>
                Chihuahua - Chihuahua
              </th>
              <th>NO. Cliente</th>
              <th>
                1234
              </th>
              <th>DIVISION</th>
              <th>
                Industria
              </th>
              <th>FECHA</th>
              <th colspan="4">
                13 de noviembre de 2024
              </th>
            </tr>
            <tr>
              <th colspan="7">DATOS GENERALES DEEL DEUDOR, AVAL Y REPRESENTANTE LEGAL (EN SU CASO)</th>
              <th>GRUPO</th>
              <th colspan="3">
                Este es un grupo
              </th>
            </tr>
            <tr>
              <th rowspan="6" colspan="7">
                <table cTable>
                  <tbody>
                    <tr>
                      <td> ACREDITADO:</td>
                      <td colspan="3">LACTEOS SUPREMOS RIDE SA DE CV</td>
                    </tr>
                    <tr>
                      <td> R.F.C.:</td>
                      <td colspan="1">LSR150528JP0</td>
                      <td> C.U.R.P.:</td>
                      <td colspan="1">N/A</td>
                    </tr>
                    <tr>
                      <td> ACTIVIDAD:</td>
                      <td colspan="3">Comercio al por menor de leche procesada, otros productos lacteos y embutidos</td>
                    </tr>
                    <tr>
                      <td> DIRECCION</td>
                      <td colspan="3">Vialidad Contitucion 675, Col. Analco, Guadalajara Jalisco, CP 44450</td>
                    </tr>
                    <tr>
                      <td> Telefono:</td>
                      <td colspan="1">78136459873245</td>
                      <td> EMAIL:</td>
                      <td colspan="1">kjghsdafksahd</td>
                    </tr>
                  </tbody>
                </table>
              </th>
              <th colspan="3">
                Prueba de texto
              </th>
              <th>
                Texto
              </th>
            </tr>
            <tr>
              <th colspan="3">
                Prueba de texto
              </th>
              <th>
                Texto
              </th>
            </tr>
            <tr>
              <th colspan="3">
                Prueba de texto
              </th>
              <th>
                Texto
              </th>
            </tr>
            <tr>
              <th colspan="3">
                Prueba de texto
              </th>
              <th>
                Texto
              </th>
            </tr>
            <tr>
              <th colspan="3">
                Prueba de texto
              </th>
              <th>
                Texto
              </th>
            </tr>
            <tr>
              <th colspan="3">
                Prueba de texto
              </th>
              <th>
                Texto
              </th>
            </tr>




            <tr>
              <th colspan="3">TIPO DE CREDITO</th>
              <th colspan="8"> Arrendamiento puro sin opcion a compra</th>
            </tr>
            <tr>
              <td colspan="6">DESTINO DE CREDITO</td>
              <td>VALOR DEL PROYECTO</td>
              <td>APORTACION DEL SOLICITANTE</td>
              <td>%</td>
              <td>MONTO A FINANCIAR</td>
              <td>%</td>
            </tr>
            <tr>
              <td colspan="6">Arrendamiento de camioneta GMC Canyon Denali 2024</td>
              <td>1,245,400</td>
              <td>498,160</td>
              <td>40%</td>
              <td>747,240</td>
              <td>60%</td>
            </tr>
            <tr>
              <td colspan="6"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan="6"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan="6"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan="6"></td>
              <td>1,245,400</td>
              <td>498,160</td>
              <td></td>
              <td>747,240</td>
              <td></td>
            </tr>
            <tr cTableColor="primary">
              <th colspan="11">DATOS DEL CREDITO</th>
            </tr>
            <tr>
              <td colspan="2">IMPORTE DEL CREDITO</td>
              <td colspan="4">$747,240</td>
              <td colspan="2">COMISION POR APERTURA</td>
              <td colspan="3">3.0%</td>
            </tr>
            <tr>
              <td colspan="2">PLAZO</td>
              <td colspan="4">36 meses</td>
              <td colspan="2">COMISION POR REVISION DE LINEA</td>
              <td colspan="3">0%</td>
            </tr>
            <tr>
              <td colspan="2">TASA DE INTERES</td>
              <td colspan="4">26%</td>
              <td colspan="2">No. DE MINISTRACIONES</td>
              <td colspan="3">1</td>
            </tr>
            <tr>
              <td colspan="2">PAGO DE CAPITAL</td>
              <td colspan="4">MENSUAL</td>
              <td colspan="2">FECHA DEL PRIMER PAGO DE CAPITAL</td>
              <td colspan="3">11/30/2024</td>
            </tr>
            <tr>
              <td colspan="2">PAGO DE INTERESES</td>
              <td colspan="4">MENSUAL</td>
              <td colspan="2">FECHA DEL PRIMER PAGO DE INTERESES</td>
              <td colspan="3">11/30/2024</td>
            </tr>
            <tr>
              <td colspan="2">FUENTE DE FONDEO</td>
              <td colspan="4">PROCREDITO / F&F</td>
              <td colspan="2">MONEDA</td>
              <td colspan="3">MXN</td>
            </tr>
            <tr>
              <td colspan="3">RESUMEN DE ADEUDOS VALORIZADOS AL</td>
              <td colspan="8"></td>
            </tr>
            <tr>
              <td colspan="3">CIFRAS EN PESOS</td>
              <td colspan="8"></td>
            </tr>


            <tr>
              <th>No. CREDITO</th>
              <th colspan="5">TIPO DE CREDITO</th>
              <th>CREDITOS OTORGADOS</th>
              <th>SALDO ACTUAL</th>
              <th colspan="2">SOLICITADO</th>
              <th>TOTAL</th>
            </tr>
            <tr>
              <td>1</td>
              <td colspan="5">Arrendamiento puro sin opcion a compra</td>
              <td>$0</td>
              <td>$0</td>
              <td colspan="2">$747,240</td>
              <td>$747,240</td>
            </tr>
            <tr>
              <td></td>
              <td colspan="5"></td>
              <td></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td colspan="5"></td>
              <td></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td colspan="5"></td>
              <td></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td colspan="5"></td>
              <td></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td colspan="5"></td>
              <td></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td colspan="5"></td>
              <td></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td colspan="5"></td>
              <td></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td colspan="5"></td>
              <td></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td colspan="5"></td>
              <td></td>
              <td></td>
              <td colspan="2"></td>
              <td></td>
            </tr>
            <tr>
              <th colspan="6">RIESGO TOTAL AUTORIZADO</th>
              <th>$0</th>
              <th>$0</th>
              <th colspan="2">$747,240</th>
              <th>$747,240</th>
            </tr>
            <tr cTableColor="primary">
              <th colspan="11">.</th>
            </tr>
            <tr>
              <th colspan="2" class="text-center mb-4">PROPUESTA<br/><br/><br/><br/></th>
              <th colspan="3" class="text-center mb-4">REVISO<br/><br/><br/><br/></th>
              <th colspan="2" class="text-center mb-4">ANALISTA<br/><br/><br/><br/></th>
              <th colspan="4" class="text-center mb-4">AUTORIZACION Y SELLO<br/><br/><br/><br/></th>
            </tr>
            <tr>
              <th colspan="2" class="text-center mb-4">JESUS MARTINEZ</th>
              <th colspan="3" class="text-center mb-4">MIGUEL NAJERA VILLEGAS</th>
              <th colspan="2" class="text-center mb-4">MARIA CRISTINA ALONZO CHAPA</th>
              <th colspan="4" class="text-center mb-4">COMITE DE CREDITO</th>
            </tr>



          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>





<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>II. TERMINOS Y CONDICIONES.</strong> <small></small>
      </c-card-header>
      <c-card-body>
        <table [cBorder]="1" borderColor="secondary" bordered cTable>
          <thead>
          <!-- <tr>
            <th scope="col">Ponderacion</th>
            <th scope="col">Variable</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Opciones</th>
            <th scope="col">Valores</th>
          </tr> -->
          </thead>
          <tbody>
            <tr>
              <th colspan="3">ACREDITADO:</th>
              <th colspan="8">LACTEOS SUPREMOS RIDE SA DE CV</th>
            </tr>
            <tr>
              <th colspan="3">TIPO DE CREDITO:</th>
              <th colspan="8">Arrendamiento puro sin opcion a compra</th>
            </tr>
            <tr cTableColor="primary">
              <th colspan="11">CONDICIONES DE CREDITO</th>
            </tr>
            <tr>
              <td colspan="2">IMPORTE DEL CREDITO</td>
              <td colspan="4">$747,240</td>
              <td colspan="2">COMISION POR APERTURA</td>
              <td colspan="3">3.0%</td>
            </tr>
            <tr>
              <td colspan="2">PLAZO</td>
              <td colspan="4">36 meses</td>
              <td colspan="2">COMISION POR REVISION DE LINEA</td>
              <td colspan="3">0%</td>
            </tr>
            <tr>
              <td colspan="2">TASA DE INTERES</td>
              <td colspan="4">26%</td>
              <td colspan="2">No. DE MINISTRACIONES</td>
              <td colspan="3">1</td>
            </tr>
            <tr>
              <td colspan="2">PAGO DE CAPITAL</td>
              <td colspan="4">MENSUAL</td>
              <td colspan="2">FECHA DEL PRIMER PAGO DE CAPITAL</td>
              <td colspan="3">11/30/2024</td>
            </tr>
            <tr>
              <td colspan="2">PAGO DE INTERESES</td>
              <td colspan="4">MENSUAL</td>
              <td colspan="2">FECHA DEL PRIMER PAGO DE INTERESES</td>
              <td colspan="3">11/30/2024</td>
            </tr>
            <tr>
              <td colspan="2">FUENTE DE FONDEO</td>
              <td colspan="4">PROCREDITO / F&F</td>
              <td colspan="2">MONEDA</td>
              <td colspan="3">MXN</td>
            </tr>
            <tr>
              <th colspan="11" class="text-center mb-4">DESCRIPCION Y VALOR DE LAS GARANTIAS</th>
            </tr>


            <tr>
              <th>No. GARANTIA</th>
              <th>CREDITO DE GARANTIZA</th>
              <th colspan="8">DESCRIPCION DEL BIEN INMUEBLE / MUEBLE:</th>
              <th>VALOR</th>
            </tr>
            <tr>
              <td>1</td>
              <td>1</td>
              <td colspan="8">GMC Canyon Denali 2024, motor turbo 2.7 lts</td>
              <td>$1,245,400</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td colspan="8"></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td colspan="8"></td>
              <td></td>
            </tr>
            <tr>
              <th colspan="2">AFORO CR SOBRE CTA</th>
              <td>1.7:1</td>
              <th colspan="2">AFORO TOTAL RIESGO</th>
              <td>1.7:1</td>
              <th colspan="2">CALIFICACION DE RIESGO</th>
              <td>C</td>
              <th colspan="1">TOTAL DE GARANTIA</th>
              <td>$1,245,400</td>
            </tr>
            <tr>
              <th colspan="11" class="text-center mb-4">SEGUROS CONTRATADOS</th>
            </tr>
            <tr>
              <td colspan="2">DANIOS</td>
              <td colspan="2">X</td>
              <td colspan="2">RESPONSABILIDAD CIVIL</td>
              <td colspan="2">X</td>
              <td colspan="2">VIDA</td>
              <td>X</td>
            </tr>
            <tr>
              <td colspan="4">TIPO DE SEGURO</td>
              <td colspan="4">FECHA DE CONTRATACION</td>
              <td colspan="3"></td>
            </tr>
            <tr>
              <td colspan="4"></td>
              <td colspan="4"></td>
              <td colspan="3"></td>
            </tr>
            <tr>
              <td colspan="4">SEGURO DE GARANTIA HIPOTECARIA Y/O PRENDARIA</td>
              <td colspan="4">NA</td>
              <td colspan="3"></td>
            </tr>
            <tr>
              <td colspan="4"></td>
              <td colspan="4"></td>
              <td colspan="3"></td>
            </tr>
            <tr cTableColor="primary">
              <th colspan="11" class="text-center mb-4">CONDICIONES</th>
            </tr>
            <tr>
              <th colspan="11">CONDICIONES PREOPERATIVAS:</th>
            </tr>
            <tr>
              <td colspan="11">El seguro debera ser contratado ....</td>
            </tr>
            <tr>
              <th colspan="11">CONDICIONES POSTOPERATIVAS:</th>
            </tr>
            <tr>
              <td colspan="11">Mantener vigente el seguro ....</td>
            </tr>



          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>





<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>III. INFORMACION JUSTIFICATIVA.</strong> <small></small>
      </c-card-header>
      <c-card-body>
        <table [cBorder]="1" borderColor="secondary" bordered cTable>
          <thead>
          <!-- <tr>
            <th scope="col">Ponderacion</th>
            <th scope="col">Variable</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Opciones</th>
            <th scope="col">Valores</th>
          </tr> -->
          </thead>
          <tbody>
            <tr>
              <th colspan="3">ACREDITADO:</th>
              <th colspan="8">LACTEOS SUPREMOS RIDE SA DE CV</th>
            </tr>
            <tr>
              <th colspan="11">ANTECEDENTES:</th>
            </tr>
            <tr>
              <td colspan="11">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
              </td>
            </tr>
            <tr>
              <th colspan="11">CLIENTES:</th>
            </tr>
            <tr>
              <td colspan="11">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
              </td>
            </tr>
            <tr>
              <th colspan="11">PROVEEDORES:</th>
            </tr>
            <tr>
              <td colspan="11">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
              </td>
            </tr>
            <tr>
              <th colspan="11">COMPETIDORES:</th>
            </tr>
            <tr>
              <td colspan="11">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
              </td>
            </tr>
            <tr>
              <th colspan="11">IMPACTO DE LA EMPRESA DEL FINANCIAMIENTO SOLICITADO:</th>
            </tr>
            <tr>
              <td colspan="11">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
              </td>
            </tr>
            <tr>
              <th colspan="11">JUSTIFICACION DEL PROYECTO:</th>
            </tr>
            <tr>
              <td colspan="11">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
              </td>
            </tr>
            <tr>
              <th colspan="11" class="text-center mb-4">COMITE DE CREDITO INTERNO</th>
            </tr>
            <tr>
              <td colspan="4">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
              </td>
            </tr>


          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>


